/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
/* General setup */

@font-face {
    font-family: lato;
    src: url(../fonts/sans-serif/lato-regular.ttf) format('truetype');
}
@font-face {
    font-family: montserrat;
    src: url(../fonts/sans-serif/montserrat-regular.ttf) format('truetype');
}
@font-face {
    font-family: opensans;
    src: url(../fonts/sans-serif/opensans-regular.ttf) format('truetype');
}
@font-face {
    font-family: roboto;
    src: url(../fonts/sans-serif/roboto-regular.ttf) format('truetype');
}
@font-face {
    font-family: josefinslab;
    src: url(../fonts/serif/josefinslab-regular.ttf) format('truetype');
}
@font-face {
    font-family: robotoslab;
    src: url(../fonts/serif/robotoslab-regular.ttf) format('truetype');
}
@font-face {
    font-family: rozhaone;
    src: url(../fonts/serif/rozhaone-regular.ttf) format('truetype');
}
@font-face {
    font-family: ultra;
    src: url(../fonts/serif/ultra-regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/*typography*/
h1 {
    font-family: roboto, sans-serif;
    font-size: 3.75rem;
    letter-spacing: 0.0125rem;
    text-align: center;
    transform-origin: center;
    transform: rotate(-10deg);
    margin: 5rem;
    font-weight: bold;
    text-shadow: 0.0625rem 0.0625rem black;
}

.highlight {
    font-family: ultra, serif;
    color: azure;
    font-weight: bold;
    background-image: radial-gradient(blue, black);
    padding: 1.125rem;
    border-top-left-radius: 1.125rem;
    border-bottom-right-radius: 1.125rem;
    box-shadow: 0.25rem 0.25rem black;
}

h2{
    font-family: roboto, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.1rem;
    clear: both;
}

h3{
    font-family: roboto, sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0.03rem;
    word-spacing: 0.0625rem;
}

p {
    font-family: roboto, sans-serif;
    font-size: 1rem;
    text-align: left;
    margin-top: auto;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 1.5rem;
    padding: auto;
}

h4{
    font-family: ultra, serif;
    font-size: 2.3rem;
}

.spans {
    background-color: cornflowerblue;
    border-top-left-radius: 1.125rem;
    border-bottom-right-radius: 1.125rem;
    box-shadow: 0.25rem 0.25rem black;
    padding: 1.125rem;
}

.spans a:link {
    text-decoration: none;
}

/*main*/

main {
    overflow:auto;
    min-width:45rem;
    
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.main-selection {
    overflow: auto;
}

.main-selection article{
    float: left;
    margin: 0 1.5%;
    width: 63%;
}

.main-selection aside {
    float: right;
    width: 30%;
    margin: 0 1.5%;
    border-left: 0.125rem solid black;
    padding-left: 2rem;
}

.gray {
    color: darkslategray;
    font-size: 0.85rem;
}

footer {
    margin-top: 2rem;
}

.cc {
    float: left;
    width: 30%;
    margin: 0 1.5%;
}

.cc2 {
    float: right;
    width: 70%;
    margin: 0 1.5%;
}

.expand {
    font-size: 0.125rem;
}

.expand a:link {
    text-decoration: none;
}

time {
    margin-top: 2rem
}



.article-image{
    float: left;
    width: 17%;
    height: auto;
    margin-right: 1rem;
    margin-left: 0rem;
    margin-top: auto;
    margin-bottom: 1.25rem;
    padding: auto;
}


.subsection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.125rem;
    margin-top: 2rem;
}

.subsection > section {
    flex: 1;
}

.pictures {
    background-color: burlywood;
    padding: 0.25rem;
}

nav {
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: none;
    font-family: opensans, sans-serif;
    border-top: .125rem solid black;
    border-bottom: .125rem solid black;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1.5rem;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 0.125rem;
    font-weight: normal;
    font-size: 1.75rem;
    padding: 0.75rem;
}

nav a:hover {
    background-color: orange;
    transform: rotate(-5deg);
}

.nav-links li:nth-child(2) {
    transform: rotate(-5deg);
    text-decoration: line-through;
}




